<%= error_messages_for(@share) %>

<table summary="Share form fields">
	<tr>
		<th><%= f.label(:scrip_name, "Scrip Name")%></th>
		<td><%= f.text_field(:scrip_name) %></td>
	</tr>
	<tr>
		<th><%= f.label(:transaction_date, "Transaction Date")%></th>
		<td><%= f.date_field(:transaction_date, min: Date.today - 365.days, :value => Date.today) %></td>
	</tr>	
	<tr>
        <th><%=f.label(:buy_sell) %></th>
        <td colspan="2"><%= f.radio_button(:buy_sell, 'buy', :id =>"share-buy") %> Buy
        <%= f.radio_button(:buy_sell, 'sell', :id =>"share-sell") %> Sell
        </td>
    </tr>
    <tr>
		<th><%= f.label(:quantity, "Scrip Qantity", )%></th>
		<td><%= f.text_field(:quantity, :id=>"share-quantity") %></td>
	</tr>
	<tr>
		<th><%= f.label(:rate, "Scrip unit price")%></th>
		<td><%= f.text_field(:rate, :id=>"share-rate") %></td>		
	</tr>
	<tr>
		<th><%= f.label(:brokerage, "Brokerage")%></th>
		<td><%= f.label(:brokerage, :value=>" ", :id=>"share-brokerage") %></td>
	</tr>
	<tr>
		<th><%= f.label(:net_rate, "Net rate")%></th>
		<td><%= f.label(:net_rate, :value=>"0", :id=>"share-net_rate") %></td>
	</tr>
	<tr>
		<th><%= f.label(:net_value, "Net Value")%></th>
		<td><%= f.label(:net_value, :value=>"0", :id=>"share-net_value") %></td>
	</tr>
	<tr>
		<th><%= f.label(:user_id, "User ID")%></th>
		<td><%= f.label(:user_id, :id=>"share-user_id", :value=>"Sandip") %></td>
	</tr>
</table>

