<%= error_messages_for(@share) %>

<table summary="Share form fields">
	<tr>
		<th><%= f.label(:scrip_name, "Script Name")%></th>
		<td><%= f.select(:scrip_name, @equitys.pluck(:name,:code),{prompt: 'Please select'}, id: "js-scrip-name")%></td>
	</tr>
	<tr>
		<th><%= f.label(:transaction_date, "Transaction Date")%></th>
		<td><%= f.date_field(:transaction_date, min: Date.today - 365.days, :value => Date.today) %></td>
	</tr>	
	<tr>
        <th><%=f.label(:buy_sell) %></th>
        <td colspan="2"><%= f.radio_button(:buy_sell, 'buy', :id =>"share-buy") %> Buy
        <%= f.radio_button(:buy_sell, 'sell', :id =>"share-sell") %> Sell
        </td>
    </tr>
    <tr>
		<th><%= f.label(:quantity, "Script Qantity", )%></th>
		<td><%= f.text_field(:quantity, :id=>"share-quantity") %></td>
	</tr>
	<tr>
		<th><%= f.label(:rate, "Script unit price")%></th>
		<td><%= f.text_field(:rate, :id=>"share-rate") %></td>		
	</tr>
	<tr>
		<th><%= f.label(:brokerage, "Brokerage")%></th>
		<td><%= f.text_field(:brokerage, :id=>"share-brokerage", :readonly=>true) %></td>
	</tr>
	<tr>
		<th><%= f.label(:net_rate, "Net rate")%></th>
		<td><%= f.text_field(:net_rate, :id=>"share-net_rate", :readonly=>true) %></td>
	</tr>
	<tr>
		<th><%= f.label(:net_value, "Net Value")%></th>
		<td><%= f.text_field(:net_value,  :id=>"share-net_value", :readonly=>true) %></td>
	</tr>
	<tr>
		<th></th>
		<td><%= f.hidden_field(:user_id, :id=>"share-user_id", :value=>"Sandip") %></td>
	</tr>
</table>

